aiohttp
azure-cli
azure-storage-blob
dask[complete]
descartes
earthengine-api
folium
geopandas
geopy
google-auth-oauthlib
gsutil
h5netcdf
jupyterlab
matplotlib
netCDF4
numpy
oauth2client
pandas
progressbar
progressbar2
rasterio
rasterstats
rtree
seaborn
shapely
tensorflow
tqdm
utm
wget
xarray
zarr
